@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 246, 220, 255;
  --selection-rgb: 141, 49, 196;
  --fallback-rgb: 148, 148, 148;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  user-select: none;
}

img {
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--marck-font), serif;
}
* {
  font-family: var(--neucha-font), sans-serif;
}